/**
 * Fichier : _buttons.scss
 *
 * Définit les styles personnalisés pour les boutons spécifiques à l’interface,
 * notamment le bouton `.btn-admin` destiné aux actions administrateur.
 */

 // Bouton pour les actions réservées aux administrateurs
.btn-admin.btn {
    background-color: $dark;
    color: $info;
    border: 1px solid darken($info, 10%);
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($dark, 5%);
        color: $info;
    }
}
