/**
 * Fichier : _variables.scss
 *
 * Contient les variables SCSS personnalisées utilisées dans le projet.
 * Ces variables permettent de définir l’identité graphique (couleurs principales).
 */

$primary: #0074c7;
$secondary: #00497c;
$success: #82b864;
$danger: #cd2c2e;
$info: #f1f8fc;
$dark: #384050;
